In [44]:
from autogluon.tabular import TabularDataset, TabularPredictor
train_data = TabularDataset('./train.csv')
test_data = TabularDataset('./test.csv')

In [45]:
label = 'Y_Class'
eval_metric = 'f1_macro'
time_limit = 3600 * 5

In [46]:
train_data

,PRODUCT_ID,Y_Class,Y_Quality,TIMESTAMP,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,TRAIN_000,1,0.533433,2022-06-13 5:14,T050304,A_31,NaN,NaN,NaN,NaN,...,39.34,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN
1,TRAIN_001,2,0.541819,2022-06-13 5:22,T050307,A_31,NaN,NaN,NaN,NaN,...,38.89,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN
2,TRAIN_002,1,0.531267,2022-06-13 5:30,T050304,A_31,NaN,NaN,NaN,NaN,...,39.19,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN
3,TRAIN_003,2,0.537325,2022-06-13 5:39,T050307,A_31,NaN,NaN,NaN,NaN,...,37.74,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN
4,TRAIN_004,1,0.531590,2022-06-13 5:47,T050304,A_31,NaN,NaN,NaN,NaN,...,38.70,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,TRAIN_593,1,0.526546,2022-09-08 14:30,T100306,T_31,2.0,95.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,TRAIN_594,0,0.524022,2022-09-08 22:38,T050304,A_31,NaN,NaN,NaN,NaN,...,49.47,53.07,50.89,55.10,66.49,1.0,NaN,NaN,NaN,NaN
595,TRAIN_595,0,0.521289,2022-09-08 22:47,T050304,A_31,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
596,TRAIN_596,1,0.531375,2022-09-08 14:38,T100304,O_31,40.0,94.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,TRAIN_597,1,0.533702,2022-09-08 14:46,T100306,O_31,21.0,87.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
test_data

,PRODUCT_ID,TIMESTAMP,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,TEST_000,2022-09-09 2:01,T100306,T_31,2.0,94.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TEST_001,2022-09-09 2:09,T100304,T_31,2.0,93.0,0.0,45.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TEST_002,2022-09-09 8:42,T100304,T_31,2.0,95.0,0.0,45.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TEST_003,2022-09-09 10:56,T010305,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TEST_004,2022-09-09 11:04,T010306,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,TEST_305,2022-11-05 11:18,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,TEST_306,2022-11-05 16:39,T100304,T_31,2.0,96.0,0.0,45.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,TEST_307,2022-11-05 16:47,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,TEST_308,2022-11-05 20:53,T100306,T_31,2.0,95.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,TEST_309,2022-11-05 21:01,T100306,T_31,2.0,87.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
import pandas as pd
import random
import os
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [49]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)
seed_everything(37) # Seed 고정

In [50]:
train_label = train_data['Y_Class']

In [51]:
train_data.drop('PRODUCT_ID',axis = 1, inplace = True)
test_data.drop('PRODUCT_ID',axis = 1, inplace = True)

train_data.drop('TIMESTAMP',axis = 1, inplace = True)
test_data.drop('TIMESTAMP',axis = 1, inplace = True)

#train_data.drop('Y_Class',axis = 1, inplace = True)
#train_data.drop('Y_Quality',axis = 1, inplace = True)

In [52]:
train_data

,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,1,0.533433,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,39.34,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN
1,2,0.541819,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,38.89,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN
2,1,0.531267,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,39.19,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN
3,2,0.537325,T050307,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,37.74,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN
4,1,0.531590,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,38.70,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,1,0.526546,T100306,T_31,2.0,95.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,0,0.524022,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,49.47,53.07,50.89,55.10,66.49,1.0,NaN,NaN,NaN,NaN
595,0,0.521289,T050304,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
596,1,0.531375,T100304,O_31,40.0,94.0,0.0,45.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,1,0.533702,T100306,O_31,21.0,87.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
test_data

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,T100306,T_31,2.0,94.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,T100304,T_31,2.0,93.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,T100304,T_31,2.0,95.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,T010305,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,T010306,A_31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,T100304,T_31,2.0,96.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,50.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,T100306,T_31,2.0,95.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,T100306,T_31,2.0,87.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
# qualitative to quantitative
#qual_col = ['LINE', 'PRODUCT_CODE']

#for i in qual_col:
    #le = LabelEncoder()
    #le = le.fit(train_data[i])
    #train_data[i] = le.transform(train_data[i])
    
    #for label in np.unique(test_data[i]): 
        #if label not in le.classes_: 
           # '''le.classes_ = np.append(le.classes_, label)
    #test_data[i] = le.transform(test_data[i]) 
#print('Done.')'''

In [55]:
#df["preTestScore"].fillna( df["preTestScore"].mean(), inplace=True)

# 데이터 전처리 -> 평균으로 
train_data = train_data.fillna(train_data.mean())
test_data = test_data.fillna(test_data.mean())

C:\Users\User\AppData\Local\Temp\ipykernel_7560\1244770396.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  train_data = train_data.fillna(train_data.mean())
C:\Users\User\AppData\Local\Temp\ipykernel_7560\1244770396.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  test_data = test_data.fillna(test_data.mean())

In [56]:
train_data

,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,1,0.533433,T050304,A_31,2.409742,95.123209,0.0,45.0,10.39255,0.0,...,39.3400,40.8900,32.5600,34.0900,77.7700,1.0,NaN,NaN,NaN,NaN
1,2,0.541819,T050307,A_31,2.409742,95.123209,0.0,45.0,10.39255,0.0,...,38.8900,42.8200,43.9200,35.3400,72.5500,1.0,NaN,NaN,NaN,NaN
2,1,0.531267,T050304,A_31,2.409742,95.123209,0.0,45.0,10.39255,0.0,...,39.1900,36.6500,42.4700,36.5300,78.3500,1.0,NaN,NaN,NaN,NaN
3,2,0.537325,T050307,A_31,2.409742,95.123209,0.0,45.0,10.39255,0.0,...,37.7400,39.1700,52.1700,30.5800,71.7800,1.0,NaN,NaN,NaN,NaN
4,1,0.531590,T050304,A_31,2.409742,95.123209,0.0,45.0,10.39255,0.0,...,38.7000,41.8900,46.9300,33.0900,76.9700,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,1,0.526546,T100306,T_31,2.000000,95.000000,0.0,45.0,10.00000,0.0,...,50.8073,53.6077,49.6062,51.6598,66.6497,1.0,NaN,NaN,NaN,NaN
594,0,0.524022,T050304,A_31,2.409742,95.123209,0.0,45.0,10.39255,0.0,...,49.4700,53.0700,50.8900,55.1000,66.4900,1.0,NaN,NaN,NaN,NaN
595,0,0.521289,T050304,A_31,2.409742,95.123209,0.0,45.0,10.39255,0.0,...,50.8073,53.6077,49.6062,51.6598,66.6497,1.0,NaN,NaN,NaN,NaN
596,1,0.531375,T100304,O_31,40.000000,94.000000,0.0,45.0,11.00000,0.0,...,50.8073,53.6077,49.6062,51.6598,66.6497,1.0,NaN,NaN,NaN,NaN
597,1,0.533702,T100306,O_31,21.000000,87.000000,0.0,45.0,10.00000,0.0,...,50.8073,53.6077,49.6062,51.6598,66.6497,1.0,NaN,NaN,NaN,NaN

In [57]:
test_data

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,T100306,T_31,2.000000,94.00000,0.0,45.0,10.000000,0.0,51.000000,10.000000,...,52.066471,53.014706,49.994412,54.202353,63.806176,0.974359,247.988889,251.888889,243.3,228.844444
1,T100304,T_31,2.000000,93.00000,0.0,45.0,11.000000,0.0,45.000000,10.000000,...,52.066471,53.014706,49.994412,54.202353,63.806176,0.974359,247.988889,251.888889,243.3,228.844444
2,T100304,T_31,2.000000,95.00000,0.0,45.0,11.000000,0.0,45.000000,10.000000,...,52.066471,53.014706,49.994412,54.202353,63.806176,0.974359,247.988889,251.888889,243.3,228.844444
3,T010305,A_31,4.337449,94.44856,0.0,45.0,10.271605,0.0,48.485597,10.012346,...,52.066471,53.014706,49.994412,54.202353,63.806176,0.974359,247.988889,251.888889,243.3,228.844444
4,T010306,A_31,4.337449,94.44856,0.0,45.0,10.271605,0.0,48.485597,10.012346,...,52.066471,53.014706,49.994412,54.202353,63.806176,0.974359,247.988889,251.888889,243.3,228.844444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,T100306,T_31,2.000000,91.00000,0.0,45.0,10.000000,0.0,51.000000,10.000000,...,52.066471,53.014706,49.994412,54.202353,63.806176,0.974359,247.988889,251.888889,243.3,228.844444
306,T100304,T_31,2.000000,96.00000,0.0,45.0,11.000000,0.0,45.000000,10.000000,...,52.066471,53.014706,49.994412,54.202353,63.806176,0.974359,247.988889,251.888889,243.3,228.844444
307,T100306,T_31,2.000000,91.00000,0.0,45.0,10.000000,0.0,50.000000,10.000000,...,52.066471,53.014706,49.994412,54.202353,63.806176,0.974359,247.988889,251.888889,243.3,228.844444
308,T100306,T_31,2.000000,95.00000,0.0,45.0,10.000000,0.0,51.000000,10.000000,...,52.066471,53.014706,49.994412,54.202353,63.806176,0.974359,247.988889,251.888889,243.3,228.844444
309,T100306,T_31,2.000000,87.00000,0.0,45.0,10.000000,0.0,51.000000,10.000000,...,52.066471,53.014706,49.994412,54.202353,63.806176,0.974359,247.988889,251.888889,243.3,228.844444

In [58]:
# 데이터 전처리 - 최빈값으로 하는 것이 분류에 도움이 되는 것인가
# train_data 내에서 테스트 분리
# from sklearn.model_selection import train_test_split
# x_train, x_test, y_train, y_test = train_test_split(train_data, train_label, test_size = 0.3,random_state = 777)

In [59]:
train_data

,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,1,0.533433,T050304,A_31,2.409742,95.123209,0.0,45.0,10.39255,0.0,...,39.3400,40.8900,32.5600,34.0900,77.7700,1.0,NaN,NaN,NaN,NaN
1,2,0.541819,T050307,A_31,2.409742,95.123209,0.0,45.0,10.39255,0.0,...,38.8900,42.8200,43.9200,35.3400,72.5500,1.0,NaN,NaN,NaN,NaN
2,1,0.531267,T050304,A_31,2.409742,95.123209,0.0,45.0,10.39255,0.0,...,39.1900,36.6500,42.4700,36.5300,78.3500,1.0,NaN,NaN,NaN,NaN
3,2,0.537325,T050307,A_31,2.409742,95.123209,0.0,45.0,10.39255,0.0,...,37.7400,39.1700,52.1700,30.5800,71.7800,1.0,NaN,NaN,NaN,NaN
4,1,0.531590,T050304,A_31,2.409742,95.123209,0.0,45.0,10.39255,0.0,...,38.7000,41.8900,46.9300,33.0900,76.9700,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,1,0.526546,T100306,T_31,2.000000,95.000000,0.0,45.0,10.00000,0.0,...,50.8073,53.6077,49.6062,51.6598,66.6497,1.0,NaN,NaN,NaN,NaN
594,0,0.524022,T050304,A_31,2.409742,95.123209,0.0,45.0,10.39255,0.0,...,49.4700,53.0700,50.8900,55.1000,66.4900,1.0,NaN,NaN,NaN,NaN
595,0,0.521289,T050304,A_31,2.409742,95.123209,0.0,45.0,10.39255,0.0,...,50.8073,53.6077,49.6062,51.6598,66.6497,1.0,NaN,NaN,NaN,NaN
596,1,0.531375,T100304,O_31,40.000000,94.000000,0.0,45.0,11.00000,0.0,...,50.8073,53.6077,49.6062,51.6598,66.6497,1.0,NaN,NaN,NaN,NaN
597,1,0.533702,T100306,O_31,21.000000,87.000000,0.0,45.0,10.00000,0.0,...,50.8073,53.6077,49.6062,51.6598,66.6497,1.0,NaN,NaN,NaN,NaN

In [60]:
train_label

0      1
1      2
2      1
3      2
4      1
      ..
593    1
594    0
595    0
596    1
597    1
Name: Y_Class, Length: 598, dtype: int64

In [63]:
x_train

,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
485,1,0.532157,T100306,T_31,2.000000,91.000000,0.0,45.0,10.00000,0.0,...,50.8073,53.6077,49.6062,51.6598,66.6497,1.0,NaN,NaN,NaN,NaN
165,1,0.528425,T100304,T_31,103.000000,96.000000,0.0,45.0,11.00000,0.0,...,50.8073,53.6077,49.6062,51.6598,66.6497,1.0,NaN,NaN,NaN,NaN
529,1,0.534211,T100304,T_31,2.000000,97.000000,0.0,45.0,10.00000,0.0,...,50.8073,53.6077,49.6062,51.6598,66.6497,1.0,NaN,NaN,NaN,NaN
253,1,0.529075,T100306,T_31,2.000000,93.000000,0.0,45.0,10.00000,0.0,...,50.8073,53.6077,49.6062,51.6598,66.6497,1.0,NaN,NaN,NaN,NaN
255,0,0.515083,T050304,A_31,2.409742,95.123209,0.0,45.0,10.39255,0.0,...,60.2400,56.1600,54.5200,56.4200,66.8500,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,1,0.531570,T100306,T_31,2.000000,91.000000,0.0,45.0,10.00000,0.0,...,50.8073,53.6077,49.6062,51.6598,66.6497,1.0,NaN,NaN,NaN,NaN
116,0,0.523714,T010305,A_31,2.409742,95.123209,0.0,45.0,10.39255,0.0,...,50.8073,53.6077,49.6062,51.6598,66.6497,1.0,NaN,NaN,NaN,NaN
71,1,0.534486,T010305,A_31,2.409742,95.123209,0.0,45.0,10.39255,0.0,...,50.8073,53.6077,49.6062,51.6598,66.6497,1.0,NaN,NaN,NaN,NaN
571,1,0.525916,T100304,O_31,4.000000,100.000000,0.0,45.0,11.00000,0.0,...,50.8073,53.6077,49.6062,51.6598,66.6497,1.0,NaN,NaN,NaN,NaN
103,1,0.529952,T100304,T_31,2.000000,102.000000,0.0,45.0,11.00000,0.0,...,50.8073,53.6077,49.6062,51.6598,66.6497,1.0,NaN,NaN,NaN,NaN

In [64]:
y_test

546    0
401    1
564    2
393    1
262    2
      ..
283    2
305    1
166    1
65     1
373    1
Name: Y_Class, Length: 180, dtype: int64

In [65]:
y_train

485    1
165    1
529    1
253    1
255    0
      ..
423    1
116    0
71     1
571    1
103    1
Name: Y_Class, Length: 418, dtype: int64

In [66]:
predictor = TabularPredictor(
    label=label, eval_metric=eval_metric
).fit(train_data, presets='best_quality', time_limit=time_limit)

No path specified. Models will be saved in: "AutogluonModels\ag-20230214_173408\"
Presets specified: ['best_quality']
Stack configuration (auto_stack=True): num_stack_levels=0, num_bag_folds=5, num_bag_sets=20
Beginning AutoGluon training ... Time limit = 18000s
AutoGluon will save models to "AutogluonModels\ag-20230214_173408\"
AutoGluon Version:  0.6.2
Python Version:     3.9.13
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.19045
Train Data Rows:    598
Train Data Columns: 2878
Label Column: Y_Class
Preprocessing data ...
AutoGluon infers your prediction problem is: 'multiclass' (because dtype of label-column == int, but few unique label-values observed).
	3 unique label values:  [1, 2, 0]
	If 'multiclass' is not the correct problem_type, please manually specify the problem_type parameter during predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Train Data Class Count: 3
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    3977.47 MB
	Train Data (Original)  Memory Usage: 13.83 MB (0.3% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 26 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
		Fitting DatetimeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Useless Original Features (Count: 433): ['X_3', 'X_4', 'X_6', 'X_10', 'X_14', 'X_19', 'X_26', 'X_27', 'X_28', 'X_29', 'X_30', 'X_31', 'X_32', 'X_33', 'X_34', 'X_35', 'X_36', 'X_37', 'X_67', 'X_68', 'X_69', 'X_70', 'X_71', 'X_72', 'X_74', 'X_75', 'X_76', 'X_77', 'X_78', 'X_79', 'X_80', 'X_81', 'X_82', 'X_83', 'X_84', 'X_85', 'X_89', 'X_91', 'X_92', 'X_96', 'X_100', 'X_104', 'X_108', 'X_112', 'X_116', 'X_122', 'X_142', 'X_147', 'X_154', 'X_158', 'X_162', 'X_166', 'X_170', 'X_174', 'X_178', 'X_182', 'X_186', 'X_187', 'X_188', 'X_190', 'X_191', 'X_192', 'X_193', 'X_194', 'X_195', 'X_232', 'X_234', 'X_235', 'X_239', 'X_241', 'X_244', 'X_249', 'X_252', 'X_255', 'X_259', 'X_260', 'X_264', 'X_274', 'X_278', 'X_282', 'X_312', 'X_313', 'X_314', 'X_315', 'X_316', 'X_317', 'X_319', 'X_322', 'X_323', 'X_324', 'X_325', 'X_326', 'X_327', 'X_328', 'X_329', 'X_330', 'X_334', 'X_336', 'X_343', 'X_347', 'X_351', 'X_355', 'X_359', 'X_363', 'X_369', 'X_375', 'X_376', 'X_377', 'X_378', 'X_381', 'X_382', 'X_383', 'X_390', 'X_391', 'X_392', 'X_409', 'X_410', 'X_411', 'X_424', 'X_425', 'X_426', 'X_427', 'X_429', 'X_430', 'X_431', 'X_432', 'X_433', 'X_434', 'X_466', 'X_467', 'X_487', 'X_503', 'X_505', 'X_508', 'X_519', 'X_558', 'X_561', 'X_567', 'X_583', 'X_617', 'X_620', 'X_631', 'X_633', 'X_634', 'X_636', 'X_638', 'X_639', 'X_640', 'X_641', 'X_642', 'X_650', 'X_672', 'X_673', 'X_676', 'X_691', 'X_692', 'X_695', 'X_715', 'X_729', 'X_732', 'X_743', 'X_749', 'X_759', 'X_760', 'X_761', 'X_764', 'X_776', 'X_777', 'X_778', 'X_836', 'X_843', 'X_844', 'X_849', 'X_859', 'X_872', 'X_873', 'X_874', 'X_879', 'X_880', 'X_881', 'X_886', 'X_887', 'X_888', 'X_889', 'X_934', 'X_935', 'X_936', 'X_937', 'X_950', 'X_951', 'X_952', 'X_969', 'X_970', 'X_971', 'X_987', 'X_988', 'X_989', 'X_992', 'X_1003', 'X_1004', 'X_1005', 'X_1006', 'X_1007', 'X_1008', 'X_1020', 'X_1021', 'X_1022', 'X_1023', 'X_1024', 'X_1025', 'X_1070', 'X_1092', 'X_1103', 'X_1119', 'X_1130', 'X_1137', 'X_1146', 'X_1157', 'X_1206', 'X_1216', 'X_1219', 'X_1248', 'X_1249', 'X_1250', 'X_1251', 'X_1252', 'X_1253', 'X_1255', 'X_1293', 'X_1298', 'X_1309', 'X_1311', 'X_1312', 'X_1314', 'X_1316', 'X_1317', 'X_1318', 'X_1319', 'X_1320', 'X_1328', 'X_1361', 'X_1362', 'X_1363', 'X_1364', 'X_1367', 'X_1392', 'X_1393', 'X_1394', 'X_1395', 'X_1396', 'X_1399', 'X_1426', 'X_1457', 'X_1487', 'X_1502', 'X_1503', 'X_1504', 'X_1522', 'X_1531', 'X_1537', 'X_1571', 'X_1572', 'X_1573', 'X_1574', 'X_1575', 'X_1576', 'X_1577', 'X_1578', 'X_1579', 'X_1580', 'X_1581', 'X_1582', 'X_1644', 'X_1645', 'X_1675', 'X_1676', 'X_1677', 'X_1680', 'X_1681', 'X_1683', 'X_1684', 'X_1685', 'X_1687', 'X_1688', 'X_1689', 'X_1691', 'X_1692', 'X_1693', 'X_1695', 'X_1698', 'X_1699', 'X_1700', 'X_1701', 'X_1702', 'X_1707', 'X_1711', 'X_1721', 'X_1722', 'X_1723', 'X_1724', 'X_1729', 'X_1733', 'X_1753', 'X_1754', 'X_1759', 'X_1760', 'X_1765', 'X_1766', 'X_1771', 'X_1772', 'X_1777', 'X_1778', 'X_1783', 'X_1784', 'X_1789', 'X_1790', 'X_1795', 'X_1796', 'X_1801', 'X_1802', 'X_1803', 'X_1807', 'X_1808', 'X_1811', 'X_1823', 'X_1827', 'X_1828', 'X_1835', 'X_1836', 'X_1837', 'X_1838', 'X_1839', 'X_1840', 'X_1841', 'X_1842', 'X_1844', 'X_1845', 'X_1846', 'X_1847', 'X_1848', 'X_1851', 'X_1852', 'X_1869', 'X_1870', 'X_1871', 'X_1872', 'X_2052', 'X_2053', 'X_2054', 'X_2055', 'X_2420', 'X_2462', 'X_2628', 'X_2629', 'X_2630', 'X_2631', 'X_2632', 'X_2633', 'X_2634', 'X_2635', 'X_2636', 'X_2637', 'X_2638', 'X_2639', 'X_2640', 'X_2641', 'X_2642', 'X_2643', 'X_2644', 'X_2645', 'X_2646', 'X_2647', 'X_2648', 'X_2649', 'X_2650', 'X_2651', 'X_2652', 'X_2653', 'X_2654', 'X_2655', 'X_2656', 'X_2657', 'X_2658', 'X_2659', 'X_2660', 'X_2661', 'X_2662', 'X_2663', 'X_2664', 'X_2665', 'X_2666', 'X_2667', 'X_2668', 'X_2669', 'X_2670', 'X_2671', 'X_2672', 'X_2673', 'X_2674', 'X_2675', 'X_2676', 'X_2677', 'X_2678', 'X_2679', 'X_2680', 'X_2681', 'X_2682', 'X_2683', 'X_2684', 'X_2685', 'X_2686', 'X_2687', 'X_2688', 'X_2689', 'X_2690', 'X_2691', 'X_2692', 'X_2693', 'X_2694', 'X_2695', 'X_2696', 'X_2697', 'X_2698', 'X_2699', 'X_2733', 'X_2775', 'X_2838', 'X_2844', 'X_2871', 'X_2872', 'X_2873', 'X_2874', 'X_2875']
		These features carry no predictive signal and should be manually investigated.
		This is typically a feature which has the same value for all rows.
		These features do not need to be present at inference time.
	Types of features in original data (raw dtype, special dtypes):
		('float', [])                      : 2443 | ['Y_Quality', 'X_1', 'X_2', 'X_5', 'X_7', ...]
		('object', [])                     :    1 | ['PRODUCT_CODE']
		('object', ['datetime_as_object']) :    1 | ['LINE']
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])             :    1 | ['PRODUCT_CODE']
		('float', [])                : 2417 | ['Y_Quality', 'X_1', 'X_2', 'X_5', 'X_7', ...]
		('int', ['bool'])            :   26 | ['X_23', 'X_25', 'X_93', 'X_135', 'X_145', ...]
		('int', ['datetime_as_int']) :    4 | ['LINE', 'LINE.year', 'LINE.month', 'LINE.dayofweek']
	5.0s = Fit runtime
	2445 features in original data used to generate 2448 features in processed data.
	Train Data (Processed) Memory Usage: 11.6 MB (0.3% of available memory)
Data preprocessing and feature engineering runtime = 5.42s ...
AutoGluon will gauge predictive performance using evaluation metric: 'f1_macro'
	To change this, specify the eval_metric parameter of Predictor()
Fitting 13 L1 models ...
Fitting model: KNeighborsUnif_BAG_L1 ... Training model for up to 17994.58s of the 17994.49s of remaining time.
	0.4214	 = Validation score   (f1_macro)
	1.48s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: KNeighborsDist_BAG_L1 ... Training model for up to 17990.31s of the 17990.23s of remaining time.
	0.4214	 = Validation score   (f1_macro)
	0.55s	 = Training   runtime
	0.03s	 = Validation runtime
Fitting model: NeuralNetFastAI_BAG_L1 ... Training model for up to 17988.74s of the 17988.64s of remaining time.
	Fitting 5 child models (S1F1 - S1F5) | Fitting with ParallelLocalFoldFittingStrategy
	0.6524	 = Validation score   (f1_macro)
	76.27s	 = Training   runtime
	29.68s	 = Validation runtime
Fitting model: LightGBMXT_BAG_L1 ... Training model for up to 17883.33s of the 17883.19s of remaining time.
	Fitting 5 child models (S1F1 - S1F5) | Fitting with ParallelLocalFoldFittingStrategy
	0.9411	 = Validation score   (f1_macro)
	55.28s	 = Training   runtime
	0.28s	 = Validation runtime

Fitting model: LightGBM_BAG_L1 ... Training model for up to 17807.73s of the 17807.62s of remaining time.
	Fitting 5 child models (S1F1 - S1F5) | Fitting with ParallelLocalFoldFittingStrategy
	0.9977	 = Validation score   (f1_macro)
	37.09s	 = Training   runtime
	0.18s	 = Validation runtime
Fitting model: RandomForestGini_BAG_L1 ... Training model for up to 17756.77s of the 17756.7s of remaining time.
	0.7311	 = Validation score   (f1_macro)
	2.45s	 = Training   runtime
	1.46s	 = Validation runtime
Fitting model: RandomForestEntr_BAG_L1 ... Training model for up to 17751.73s of the 17751.65s of remaining time.
	0.6823	 = Validation score   (f1_macro)
	2.49s	 = Training   runtime
	1.44s	 = Validation runtime
Fitting model: CatBoost_BAG_L1 ... Training model for up to 17746.84s of the 17746.77s of remaining time.
	Fitting 5 child models (S1F1 - S1F5) | Fitting with ParallelLocalFoldFittingStrategy
	0.9957	 = Validation score   (f1_macro)
	7540.31s	 = Training   runtime
	1.55s	 = Validation runtime
Fitting model: ExtraTreesGini_BAG_L1 ... Training model for up to 10193.29s of the 10193.2s of remaining time.
	0.6294	 = Validation score   (f1_macro)
	2.09s	 = Training   runtime
	1.45s	 = Validation runtime
Fitting model: ExtraTreesEntr_BAG_L1 ... Training model for up to 10188.53s of the 10188.46s of remaining time.
	0.6332	 = Validation score   (f1_macro)
	2.09s	 = Training   runtime
	1.48s	 = Validation runtime
Fitting model: XGBoost_BAG_L1 ... Training model for up to 10184.04s of the 10183.96s of remaining time.
	Fitting 5 child models (S1F1 - S1F5) | Fitting with ParallelLocalFoldFittingStrategy
	0.9954	 = Validation score   (f1_macro)
	54.81s	 = Training   runtime
	0.31s	 = Validation runtime
Fitting model: NeuralNetTorch_BAG_L1 ... Training model for up to 10115.75s of the 10115.67s of remaining time.
	Fitting 5 child models (S1F1 - S1F5) | Fitting with ParallelLocalFoldFittingStrategy
	0.6843	 = Validation score   (f1_macro)
	42.34s	 = Training   runtime
	8.51s	 = Validation runtime
Fitting model: LightGBMLarge_BAG_L1 ... Training model for up to 10059.41s of the 10059.32s of remaining time.
	Fitting 5 child models (S1F1 - S1F5) | Fitting with ParallelLocalFoldFittingStrategy
	0.9957	 = Validation score   (f1_macro)
	220.97s	 = Training   runtime
	0.17s	 = Validation runtime
Completed 1/20 k-fold bagging repeats ...
Fitting model: WeightedEnsemble_L2 ... Training model for up to 1799.46s of the 9824.75s of remaining time.
	0.9977	 = Validation score   (f1_macro)
	1.82s	 = Training   runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 8177.16s ... Best model: "WeightedEnsemble_L2"
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("AutogluonModels\ag-20230214_173408\")

In [67]:
predictor.leaderboard(silent = True) # 예측 우수 모델 오름차순 정렬

,model,score_val,pred_time_val,fit_time,pred_time_val_marginal,fit_time_marginal,stack_level,can_infer,fit_order
0,WeightedEnsemble_L2,0.997686,0.181567,38.906160,0.000000,1.818251,2,True,14
1,LightGBM_BAG_L1,0.997686,0.181567,37.087909,0.181567,37.087909,1,True,5
2,LightGBMLarge_BAG_L1,0.995666,0.171866,220.965965,0.171866,220.965965,1,True,13
3,CatBoost_BAG_L1,0.995652,1.546769,7540.310647,1.546769,7540.310647,1,True,8
4,XGBoost_BAG_L1,0.995434,0.312484,54.810109,0.312484,54.810109,1,True,11
5,LightGBMXT_BAG_L1,0.941052,0.281234,55.279881,0.281234,55.279881,1,True,4
6,RandomForestGini_BAG_L1,0.731112,1.462603,2.452953,1.462603,2.452953,1,True,6
7,NeuralNetTorch_BAG_L1,0.684253,8.509333,42.343239,8.509333,42.343239,1,True,12
8,RandomForestEntr_BAG_L1,0.682322,1.437407,2.492557,1.437407,2.492557,1,True,7
9,NeuralNetFastAI_BAG_L1,0.652432,29.678382,76.265442,29.678382,76.265442,1,True,3
10,ExtraTreesEntr_BAG_L1,0.633214,1.484279,2.093602,1.484279,2.093602,1,True,10
11,ExtraTreesGini_BAG_L1,0.629421,1.446426,2.093599,1.446426,2.093599,1,True,9
12,KNeighborsDist_BAG_L1,0.421442,0.031226,0.548696,0.031226,0.548696,1,True,2
13,KNeighborsUnif_BAG_L1,0.421442,0.053586,1.479998,0.053586,1.479998,1,True,1

In [68]:
model_to_use = predictor.get_model_best() # 가장 좋은 모델 보기 
#model_pred = predictor.predict(x_test, model=model_to_use)
model_pred = predictor.predict(test_data, model=model_to_use)

KeyError: "1 required columns are missing from the provided dataset to transform using AutoMLPipelineFeatureGenerator. Missing columns: ['Y_Quality']"

In [ ]:
train_data

In [ ]:
#train_data 내에서 테스트 분리
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(train_data, train_label, test_size = 0.3,random_state = 777)

In [ ]:
import sklearn.metrics as metrics
pred = predictor.predict(x_test)
pred_proba = predictor.predict_proba(x_test)[:1]
eval = [(x_test,y_test)]

In [ ]:
from sklearn.metrics import accuracy_score, recall_score, f1_score, precision_score, roc_auc_score
from sklearn.metrics import confusion_matrix

def get_clf_eval(y_test, y_pred=None, pred_proba=None):
    confusion = confusion_matrix(y_test, y_pred)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, average='micro')
    recall = recall_score(y_test, y_pred, average='micro')
    F1 = f1_score(y_test, y_pred, average = 'micro')
    #AUC = roc_auc_score(y_test, y_pred, pred_proba)

    print('오차행렬:\n', confusion)
    print('\n정확도: {:.4f}'.format(accuracy))
    print('정밀도: {:.4f}'.format(precision))
    print('재현율: {:.4f}'.format(recall))
    print('F1: {:.4f}'.format(F1))
    #print('AUC: {:.4f}'.format(AUC))

In [ ]:
get_clf_eval(y_test,pred,pred_proba)

In [ ]:
submission = pd.read_csv('./sample_submission.csv')

In [ ]:
submission["Y_Class"] = model_pred
submission.head()
submission.to_csv('./auto.csv', index=False)